doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./src/css/top.css")
    title 菊乃湯
    header.h
      .h__flex
        p.h__logo 菊乃湯
        .h__reserve
          p.h__text TEL.0000-00-0000
          a(href="#").h__link ご予約
    .bg
      h1.bg__catch
        span.bg__catch-sml 箱根温泉
        span.bg__catch-lar 菊乃湯
    main
      section.concept
        h2.concept__sectitle 
          span.bg__catch-sml はじめに
          span.bg__catch-lar テキストテキスト
        p.concept__text 
        | テキストテキストテキストテキスト
        br 
        | テキストテキストテキストテキスト
        a(href="#").concept__link more
  body 