/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

@media screen and (min-width: 1025px) {
  body {
    font-size: 1.6rem;
    font-family: "Noto Serif JP", serif;
  }
}

.h {
  position: fixed;
  z-index: 7;
  width: 100%;
}
.h__flex {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h__logo {
  font-size: 4rem;
  color: #fff;
  padding-left: 40px;
  z-index: 8;
}
.h__reserve {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 40px;
}
.h__tel {
  color: #fff;
  font-size: 2rem;
  padding-right: 40px;
}
.h__link {
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 50px;
  transition: 0.5s ease;
}
.h__link:hover {
  color: #333;
  background-color: #fff;
  transition: 0.5s ease;
}

.scroll {
  color: #333;
  transition: 0.5s ease;
}

.link {
  color: #333;
  border: 1px solid #333;
}
.link:hover {
  color: #fff;
  background-color: #333;
  transition: 0.5s ease;
}

@media screen and (min-width: 1025px) {
  .bg {
    background-image: url("/src/img/top_main.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 160px;
  }
  .bg__catch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
  .bg__catch-sml {
    display: block;
    text-align: center;
    font-size: 1.8rem;
  }
  .bg__catch-lar {
    display: block;
    text-align: center;
    font-size: 6rem;
    padding-top: 16px;
  }
}

@media screen and (min-width: 1025px) {
  .concept {
    position: relative;
    padding-bottom: 240px;
  }
  .concept::after {
    position: absolute;
    content: "";
    background-color: #F4F4F4;
    height: 100%;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  .concept__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .concept__img {
    width: 50%;
    position: relative;
    display: block;
  }
  .concept__img::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 59, 59, 0.9725490196);
    z-index: 2;
    opacity: 1;
  }
  .concept__img img {
    width: 100%;
  }
  .concept .fade::after {
    opacity: 0;
    transition: 2s ease;
    position: absolute;
  }
  .concept__box {
    width: 40%;
  }
  .concept__sectitle {
    margin-bottom: 40px;
  }
  .concept__sectitle-sml {
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 40px;
    position: relative;
  }
  .concept__sectitle-sml::after {
    content: "";
    width: 100px;
    height: 1px;
    background-color: #C7C7C7;
    position: absolute;
    top: 50%;
    right: -140px;
  }
  .concept__sectitle-lar {
    display: block;
    font-size: 3.2rem;
  }
  .concept__link {
    padding-top: 32px;
    display: block;
    position: relative;
    color: #333;
  }
  .concept__link::before {
    content: "";
    position: absolute;
    left: 60px;
    bottom: 0;
    width: 60px;
    height: 1px;
    background-color: #C7C7C7;
  }
  .concept__link::after {
    content: "";
    position: absolute;
    left: 114px;
    bottom: -2px;
    height: 15px;
    border-right: 1px solid #C7C7C7;
    transform: rotate(-45deg);
  }
}

@media screen and (min-width: 1025px) {
  .inn {
    padding-bottom: 240px;
  }
  .inn__flex {
    display: flex;
    flex-flow: row-reverse;
    align-items: flex-end;
  }
  .inn__img {
    width: 50%;
    position: relative;
    display: block;
  }
  .inn__img::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 59, 59, 0.9725490196);
    z-index: 2;
    opacity: 1;
  }
  .inn__img img {
    width: 100%;
  }
  .inn .fade::after {
    opacity: 0;
    transition: 2s ease;
    position: absolute;
  }
  .inn__box {
    width: 40%;
  }
  .inn__sectitle {
    margin-bottom: 40px;
  }
  .inn__sectitle-sml {
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 40px;
    position: relative;
  }
  .inn__sectitle-sml::after {
    content: "";
    width: 100px;
    height: 1px;
    background-color: #C7C7C7;
    position: absolute;
    top: 50%;
    right: -140px;
  }
  .inn__sectitle-lar {
    display: block;
    font-size: 3.2rem;
  }
  .inn__link {
    padding-top: 32px;
    display: block;
    color: #333;
    position: relative;
  }
  .inn__link::before {
    content: "";
    position: absolute;
    left: 60px;
    bottom: 0;
    width: 60px;
    height: 1px;
    background-color: #C7C7C7;
  }
  .inn__link::after {
    content: "";
    position: absolute;
    left: 114px;
    bottom: -2px;
    height: 15px;
    border-right: 1px solid #C7C7C7;
    transform: rotate(-45deg);
  }
}

@media screen and (min-width: 1025px) {
  .spring {
    position: relative;
    padding-bottom: 240px;
  }
  .spring::after {
    position: absolute;
    content: "";
    background-color: #F4F4F4;
    height: 100%;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  .spring__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .spring__img {
    width: 50%;
    position: relative;
    display: block;
  }
  .spring__img::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 59, 59, 0.9725490196);
    z-index: 2;
    opacity: 1;
  }
  .spring__img img {
    width: 100%;
  }
  .spring .fade::after {
    opacity: 0;
    transition: 2s ease;
    position: absolute;
  }
  .spring__box {
    width: 40%;
  }
  .spring__sectitle {
    margin-bottom: 40px;
  }
  .spring__sectitle-sml {
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 40px;
    position: relative;
  }
  .spring__sectitle-sml::after {
    content: "";
    width: 100px;
    height: 1px;
    background-color: #C7C7C7;
    position: absolute;
    top: 50%;
    right: -140px;
  }
  .spring__sectitle-lar {
    display: block;
    font-size: 3.2rem;
  }
  .spring__link {
    padding-top: 32px;
    display: block;
    color: #333;
    position: relative;
  }
  .spring__link::before {
    content: "";
    position: absolute;
    left: 60px;
    bottom: 0;
    width: 60px;
    height: 1px;
    background-color: #C7C7C7;
  }
  .spring__link::after {
    content: "";
    position: absolute;
    left: 114px;
    bottom: -2px;
    height: 15px;
    border-right: 1px solid #C7C7C7;
    transform: rotate(-45deg);
  }
}

@media screen and (min-width: 1025px) {
  .meal {
    padding-bottom: 240px;
  }
  .meal__flex {
    display: flex;
    flex-flow: row-reverse;
    align-items: flex-end;
  }
  .meal__img {
    width: 50%;
    position: relative;
    display: block;
  }
  .meal__img::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 59, 59, 0.9725490196);
    z-index: 2;
    opacity: 1;
  }
  .meal__img img {
    width: 100%;
  }
  .meal .fade::after {
    opacity: 0;
    transition: 2s ease;
    position: absolute;
  }
  .meal__box {
    width: 40%;
  }
  .meal__sectitle {
    margin-bottom: 40px;
  }
  .meal__sectitle-sml {
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 40px;
    position: relative;
  }
  .meal__sectitle-sml::after {
    content: "";
    width: 100px;
    height: 1px;
    background-color: #C7C7C7;
    position: absolute;
    top: 50%;
    right: -140px;
  }
  .meal__sectitle-lar {
    display: block;
    font-size: 3.2rem;
  }
  .meal__link {
    padding-top: 32px;
    display: block;
    color: #333;
    position: relative;
  }
  .meal__link::before {
    content: "";
    position: absolute;
    left: 60px;
    bottom: 0;
    width: 60px;
    height: 1px;
    background-color: #C7C7C7;
  }
  .meal__link::after {
    content: "";
    position: absolute;
    left: 114px;
    bottom: -2px;
    height: 15px;
    border-right: 1px solid #C7C7C7;
    transform: rotate(-45deg);
  }
}

@media screen and (min-width: 1025px) {
  .contact {
    padding-bottom: 180px;
  }
  .contact__sectitle {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 80px;
    position: relative;
  }
  .contact__sectitle::after {
    content: "";
    width: 100px;
    height: 1px;
    background-color: #333;
    position: absolute;
    top: 180%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .contact__text {
    text-align: center;
    display: block;
    margin-bottom: 40px;
  }
  .contact__link {
    text-align: center;
    margin: 0 auto;
    display: block;
    border: 1px solid #333;
    width: 260px;
    padding: 16px 0;
    color: #333;
    margin-bottom: 32px;
  }
  .contact__tel {
    text-align: center;
    display: block;
    font-size: 3rem;
    color: #333;
  }
}

@media screen and (min-width: 1025px) {
  .f__inner {
    background-color: #3B3B3B;
    margin: 20px;
    padding: 40px 0;
  }
  .f__layout {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .f__layout-menu {
    display: flex;
    align-items: center;
  }
  .f__layout-item {
    margin: 0 16px;
  }
  .f__layout-link {
    color: #fff;
  }
  .f__logo-link {
    color: #fff;
    font-size: 3.2rem;
  }
  .f__address-tel {
    color: #fff;
    display: block;
    margin-bottom: 16px;
    font-size: 3rem;
  }
  .f__address-time {
    color: #fff;
    display: block;
    margin-bottom: 8px;
  }
  .f__address-text {
    color: #fff;
    display: block;
  }
}

/*# sourceMappingURL=top.css.map */
